@page

@using RawRabbit
@using RESTQueue.lib.DAL

@model IndexModel

@inject IStorageDatabase Database;
@inject IBusClient QueueBusClient;

<h2>Server Status</h2>

<h3>Database Status</h3>
<p>Is Online: @Database.IsOnline()</p>

<h3>Queue Status</h3>

@if (QueueBusClient == null)
{
    <p>Is Online: False</p>
}
else
{
    <p>Is Online: True</p>
}