@page

@using RESTQueue.lib.DAL
@using RESTQueue.lib.Queue

@model IndexModel

@inject IStorageDatabase Database;
@inject IQueue Queue;

<h2>Server Status</h2>

<h3>Database Status</h3>
<p>Is Online: @Database.IsOnline()</p>

<h3>Queue Status</h3>
<p>Is Online: @Queue.IsOnline()</p>